################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Localization/bin/Debug
/Localization/obj/Debug
/LocalizationDemo/bin/Debug
/LocalizationDemo/obj/Debug
/.vs/WPFLocalization/v16
